@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

}